@import '_variables';

.Button {
  border: unset;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &--primary {
    width: 180px;
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;

    svg {
      transform: translateX(-10px);
      transition: transform 0.5s ease-in-out;
    }

    &:hover {
      svg {
        transform: translateX(0px);
        transition: transform 0.5s ease-in-out;
      }
    }

    @media screen and (min-width: 600px) {
      font-size: 1.25rem;
      width: 200px;
    }
  }

  &--secondary {
    background-color: $teal;
  }
}
